.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid blue;
}
.header-nav, .nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
}
.header-wrapper img {
    max-width: 120px;
}



.active-link {

}